:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.main_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #3a8767;
}
.center_div{
  width: 25%;
  height: 70vh;
  background-color: rgb(151, 138, 181);
  color: black;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  text-align: center;
  border-radius: 15px;
}

h1{
  color: rgba(0,0,0,0.87);
  font-size: 50px;
  margin-bottom: 30px;
  min-width: 64px;
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
input{
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #469b3e;
  margin-right: 20px;
}

.newBtn{
  width: 50px;
  height: 55px;
  background-color: rgb(85, 36, 169) !important;
  color: white !important;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.3);
  border-radius: 50% !important;
}

.newBtn:hover{
  color: rgb(85, 36, 169) !important;
  background: rgb(196, 190, 190)!important;
}


ol li{
  list-style: none;
  padding-left: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #856644;
  text-transform: capitalize;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 15px;
}

.todo_style .deleteIcon{
  background-color: rgb(85, 36, 169);
  color: rgb(196, 190, 190);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 35px;
  padding: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

.deleteIcon:hover{
  color:  rgb(169, 36, 36);
  background-color: rgb(196, 190, 190);
}